
body {
  margin: 0;
  background:black;
  color: #FFFFFF; 
  
}
.container{
  position: absolute;
  width: 550px;
  height: 868px;
  background: #23252C;
}
.info-class{
  width: 317px;
  height: 100px;
  background: #1A1B21

}
.image-khalil{
position: absolute;
width: 248px;
height: 317px;
left: 130px;
top: 34px;
border-radius: 12px 12px 0px 0px;
}
.name-khalil{
margin: 0;
position: absolute;
width: 200.06px;
height: 34.81px;
left: 160px;
top: 370px;
font-weight: 700;
font-size: 21px;
line-height: 25px;
text-align: center;

}
.title-khalil{
  margin: 0;
position: absolute;
width: 178.06px;
height: 22.81px;
left: 165px;
top: 386px;
color:#F3BF99;
font-weight: 575;
font-size: 12px;
line-height: 30px;
text-align: center;
}
button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;
position: absolute;
width: 115px;
height: 34px;
left: 133px;
top: 435px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
border-radius: 6px;
transition: 0.4s;

}
.email-btn:hover{
  color: black;
  background-color: #b3c0cf;
}
.twitter-btn{
left: 262px;
top: 435px;
background: #4679b3;
border: 1px solid #4679b3;
border-radius: 6px;
}
.twitter-btn:hover{
  color: #6498d6;
  background-color: #153e6d91;
}
.about-class{
position: absolute;
width: 317px;
height: 250px;
left: 116px;
top: 490px;
background: #1a1b21
}
.about-header{
  width: 242.71px;
height: 21px;
left: 152px;
top: 505px;
margin-left: 10px;
font-weight: 900;
font-size: 20px;
line-height: 18px;
}

.interest-class{
  position: absolute;
width: 317px;
height: 150px;
left: 116px;
top: 670px;
line-height: 18px;
background: #1A1B21;
}
.interest-title{
margin:auto;
font-weight: 900;
font-size: 20px;
line-height: 20px;
width: 317px;
height: 21px;
left: 138px;
top: 670px;
line-height: 18px;
margin-left: 10px;
}
p{
  font-weight: 470;
  font-size: 12px;
  line-height: 18px;
  width: 290px;
  margin-left: 11px;

}
.icon-tray{
  position: absolute;
width: 317px;
height: 64px;
left: 116px;
top: 805px;

background: #161619;
border-radius: 0px 0px 10px 10px;
display: flex;


}
a{
  margin-right: auto;
  margin-left: 14px;
  padding-top: 18px;
  color: slategrey;
  font-size: 28px;
  transition: 0.3s;
}
a:hover{
  color: darkslategrey;
}




